DATABASE_PATH=./db/mudae.db
JWT_SECRET=changeme
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3001/auth/discord/callback
FRONTEND_URL=http://localhost:5173
PORT=3001
BOT_URL=http://localhost:3002
BOT_SERVER_SECRET=changeme
